button {
  border: none;
}

.cards {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  cursor: pointer;
  outline: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-width: 21%;
  max-width: 21%;
  background-color: black;
  border-radius: 5px;
  min-height: 17vh;
  max-height: 17vh;
  margin: 1px;
}

.avatar,
.avatarFound {
  visibility: visible;
  opacity: 1;
  height: 17vh;
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
  margin: 1px;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.avatarFound {
  transition: filter 1.5s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.loading {
  color: white;
  text-align: center;
  font-size: 2rem;
  animation: blink 1s linear infinite;
}

.error {
  color: #F0151E;
  text-align: center;
  font-size: 2rem;
}

@keyframes blink {
  20%{opacity: 0.5;}
  50%{opacity: 0.75;}
  100%{opacity: 1;}
}

@media screen and (min-width: 800px) {
  .cards {
    width: 70%;
  }
  .card {
    min-width: 22%;
    max-width: 22%;
    min-height: 17vh;
    max-height: 17vh;
    margin: 2px;
  }
  .avatar,
  .avatarFound {
    height: 17vh;
    width: 100%;
    margin: 2px;
  }
}